@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.interest-slide {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.interest-slide.fade-in {
  animation-name: fadeIn;
  animation-duration: 700ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.interest-slide.fade-out {
  animation-name: fadeOut;
  animation-duration: 700ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

#slide-hover-btns {
  width: 100%;
  height: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  position: absolute;
  column-gap: 0.5%;
}

.slide-hover-btn {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  border: 1px solid white;
  z-index: 1;
  left: 200px;
  bottom: 10px; /* Adjust this value as needed to control the distance from the bottom */
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.slide-hover-btn:hover {
  box-shadow: 0 0 5px 1px #eee;
}

.slide-hover-btn.hover-white {
  background-color: white;
  box-shadow: 0 0 5px #eee;
}

.interest-text {
  font-family: 'Times New Roman', Times, serif;
  width: 50%;
  height: 40%;
  font-size: larger;
  z-index: 1;
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: pre; /* preserves line breaks and spaces */
}

.interest-text.shown {
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.interest-text.hidden {
  animation-name: fadeOut;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.interest-text-title {
  font-size: 50px;
  font-weight: bolder;
}

.interest-text-title.music:hover {
  cursor: url("cursor-note.svg"), auto;
}
.interest-text-title.cat:hover {
  cursor: url("cursor-cat.svg"), auto;
}

#interest-text-intro {
  font-size: 20px;
}