#floating-notes {
  display: block;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60%;
  height: 50%;
  min-width: 300px;
  border: 0px solid white;
  color: white;
  transform: translate(-50%, -50%);
}

.note-1,
.note-2,
.note-3,
.note-4,
.note-5,
.note-6,
.note-7,
.note-8 {
  position: absolute;
  animation: notes 2s infinite linear;
  font-size: 35px;
  opacity: 0;
}

.note-1 {
  top: 60px;
  left: 0;
  animation-delay: 0.5s;
  color: rgb(167, 157, 243);
}

.note-2 {
  top: 20%;
  left: 30%;
  animation-delay: 1s;
  color: rgb(248, 162, 228);
}

.note-3 {
  top: 100%;
  left: 60%;
  animation-delay: 1.5s;
  color: rgb(145, 221, 160);
}

.note-4 {
  top: 90%;
  left: 90%;
  animation-delay: 2s;
  color: rgb(247, 226, 178);
}

.note-5 {
  top: 20%;
  left: 90%;
  animation-delay: 2s;
  color: rgb(247, 226, 178);
}

.note-6 {
  top: 70%;
  left: 80%;
  animation-delay: 2.5s;
}

.note-7 {
  top: 40%;
  left: 50%;
  animation-delay: 3s;
  color: rgb(178, 247, 244);
}

.note-8 {
  top: 70%;
  left: 20%;
  animation-delay: 2.3s;
  color: rgb(168, 232, 243);
}

@keyframes notes {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.5) translate(50%, -50%);
  }
  80% {
    opacity: 0;
    transform: scale(1.5) translate(100%, -100%);
  }
  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}
