.window-main {
  display: flex;
  min-height: 100vh;
  position: absolute;
  float: right;
  width: 75%;
  top: 0;
  right: 0;
  background-size: cover;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (min-width: 992px) {
  #window-main {
    width: 75%;
  }
}

#side-menu {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 25%;
  position: fixed;
  overflow-y: scroll;
  bottom: 0;
  top: 0;
  left: 0;
}
