.window-main {
  display: flex;
  min-height: 100vh;
  position: relative;
  float: right;
  width: 75%;
  background-size: cover;
}

#side-menu {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 25%;
  position: fixed;
  overflow-y: scroll;
  bottom: 0;
  top: 0;
  left: 0;
}
